extends base

block styles

block body
	h3 About Me (Video)
	div.centered <iframe width="560" height="315" src="https://www.youtube.com/embed/8CLAI_KmhfQ" frameborder="0" allowfullscreen></iframe>
	h5.centered (Sorry for the poor quality, recorded with my iPhone)
	
	h3 About Me (Text)
	p My name is Isaiah Smith and I am a full time student at the Rochester Institute of Technology. My major is New Media Interactive Development, which is a fancy way of saying Full-Stack and App Development.
	p
		| I'm a big fan of IGN. I've been visiting the site for years now and love reading articles, listening to the podcasts, watching the videos, and getting to know other members of the community through the various FaceBook pages. I've even began my own 
		a(href="http://enupdate.com", target="_blank") blog
		|  since visiting IGN.
	p
		| I love to code too! Rather it's small side project in my spare time, or 
		a(href="http://enupdate.com/todo-queue/", target="_blank") larger things
		|  that I share with the world, you can usually find me working on something new that let's me explore new areas that I haven't tried before.
	p I'm a huge gamer. Though because of school I don't have as much time as I used to for playing, I still make sure I'm up to date on all the latest news and what's going on in the industry (being at a school that embraces the nerd-culture helps keep me in the loop too ha).
	p For more info about me or if you have any questions, feel free to reach out to me from any of the links below!
	ul
		li
			a(href="https://twitter.com/jordankid93", target="_blank") Twitter
		li
			a(href="https://www.youtube.com/channel/UC71zJN-_z-vJpFOsiKVzPmg", target="_blank") YouTube
		li
			a(href="https://www.linkedin.com/profile/view?id=250940369&trk=nav_responsive_tab_profile", target="_blank") LinkedIn
		li
			a(href="https://github.com/jordankid93", target="_blank") GitHub
		li
			a(href="http://enupdate.com", target="_blank") EnUpdate

block scripts