extends base

block styles
  link(href="http://fonts.googleapis.com/css?family=Inconsolata:400,700", rel="stylesheet", type="text/css")

block body
  h3.centered Word Search
  div.centered
    div#word-search
    
  br
  br
  
  h3.centered Words
  div#words

block scripts
  script(src="/scripts/word-search.js")