/*Universal*/
body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin: 10px;
	background-color: white;
	color: #263248; //#0381A8;
	padding: 10px;
}

a, a:visited {
	color: #FF9800;
	text-decoration: none;
}

a:visited {
	color: #FF9800;
}

li {
	margin: 5px auto;
}

footer {
	height: 3em;
	margin: 3em 0 1em 0;
	clear: both;
}

.centered {
	text-align: center;
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a.button {
	display: inline-block;
	text-align: center;
	border-radius: 0.5em;
	background-color: gray;
	padding: 1em;
	font-weight: bold;
	color: white;
}

a.button:visited {
	color: white;
}

.prev-button {
	position: absolute;
	left: 1em;
}

.next-button {
	position: absolute;
	right: 1em;
}

/*Ping Pong Challenge*/
.answer {
	font-weight: bold;
	color: red;
}

/*Word Search Challenge*/
#word-search {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 1em;
	padding: 1em;
	border: 1px solid black;
}

.word-search-row {
	margin: 0.5em 0;
}

.word-search-text {
	font-family: 'Inconsolata', "Courier New", Courier, monospace;
	font-size: 12;
	margin: 0 0.5em;
}

.word-search-highlight {
	color: red;
	font-weight: bold;
}

#words {
	text-align: center;
}

.word-search-word {
	display: inline-block;
	padding: 0.5em 1em;
	background-color: gray;
	border-radius: 1em;
	cursor: pointer;
	margin: 0.5em;
	color: white;
}

.word-search-word-disabled {
}

/*API Challenge - Part 1*/
#api-part1-articles {
	float: left;
	width: 50%;
}

#api-part1-videos {
	float: right;
	width: 50%;
}